/* HomePage will always use the main Theme */
:root{
    --main-bg-color: #F9C901;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{height: 100%;}
body{height:100%;}
#root{height: 100%;}


.active-menu-item{
    font-weight: bold;
    color: var(--main-bg-color) !important;
}
.Logo-mainbar{
    margin-right: 15px;
}

.mainbar-menu-item:hover{
    cursor:pointer;
}

.main-initial-content, .main-requests{
    /* background-color:var(--main-bg-color); */
    background-image:url(/svg/WhiteToHoney-wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-initial-content-title{
    background: transparent;
    width: 95%;
    height:70vh;
}
.main-info{
    background: var(--main-bg-color);
}

.main-info{
    background-image:url(/svg/HoneyToWhite-Wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-beehive-info{
    font-weight: bold !important;
}

.mainbar-menu-link{
    text-decoration: none;
    color: black;
    transition: all .3s ease;
}
.mainbar-menu-link:hover{
    color: var(--main-bg-color);
    transform:scale(1.05);
}

.login-form, .register-form{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    height: 100%;
    padding: 0vh 5vh;

}

.main-login-form, .main-register-form{
    border-radius: 10px !important;
}

.form-link{
    transition: color 0.5s ease;
    color: black;
    text-decoration: none;
    font-size: 1rem;
    margin-top: 2vh;
}

.form-link:hover{
    color: var(--main-bg-color);
    text-decoration: underline;
}
.form-logo{
    width: 150px;
}

/* FORM MOBILE */
@media only screen and (max-width: 900px) {
    .login-form, .register-form{
        width: 100%;
        height: 85%;
        padding: 0vh 5vh;
    
    }
    
    .main-login-form, .main-register-form{
        border-radius: 10px !important;
    }
    .form-logo{
        width: 80px;
    }
  }

.MuiDrawer-paper{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/* MAIN BEEHIVE LAYOUT */

.DrawerItem{
    margin: .5rem 0rem;
  }
  
  .Avatar-header-nophoto{
      background: rgb(212,246,255);
      background: linear-gradient(90deg, rgba(212,246,255,1) 0%, rgba(200,166,255,1) 100%);
  }
  .Avatar-header-nophoto:hover{
    border: 3px solid #f1f1f1;
    cursor: pointer;
  }


/* UPPER CALENDAR STYLES */
  
  .UpperCalendar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 56px);
    background: #fafafa;
    min-height:11vh;
    margin-left: 56px; 
    border-bottom:6px;
  }
  .UpperCalendar-Month-Year{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 75%;
  }
  
  .Upper-Calendar-Day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #808080;
  }
  
  .Upper-Calendar-Day-Number{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 999vh;
    width: 45px;
    height: 45px;
    transition: .5 ease;
  }
  
  .Upper-Calendar-Day-Number:hover{
    border: solid rgb(66, 66, 66) 1px;
    cursor: pointer;
  }
  
  .Upper-Calendar-Day-active{
    color: black;
    font-size: 1.2rem;
  }
  
  .UpperCalendar-arrows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: .9rem;
    height: 100%;
  }
  .UpperCalendar-arrows:hover{
    cursor: pointer;
  }
  
  .UpperCalendar-Week{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }


  .Beehive-menu-item{
    text-decoration: none;
    color: #808080;
  }


/* TASKS */

/* SECTIONS */

.tasks-section-card{
  min-height: 50vh;
  min-width: 35vh;
}

/* Select del color, para todos los select por defecto ponerlo en flex para alinearlos en row. */
.MuiSelect-select{
  display: flex !important;
}

/* Scrollbar de las secciones */

.scroll-sections::-webkit-scrollbar {
  width: 1px;
  background-color: none;
}

.scroll-sections::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 10px;
}